* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Baloon 2", cursive; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imgsize {
  width: 80px;
}

.center {
  text-align: center;
  align-items: center;
  padding: 2%;
}

.red {
  color: red;
}

/* navbar start here */
.header {
  min-height: 100vh;
  width: 100%;

  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  /* background-color: red; */
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 6%;
}

nav .links {
  flex: 1;
  text-align: right;

}

nav .links ul {
  padding: 2%;
}

nav .links ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}

nav .links ul li a {
  text-decoration: none;
  /* padding-right: 20px; */
  color: white;
  margin-right: 50px;
  text-shadow: 8px 4px 10px black;
}


nav .links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
}

nav .links ul li a :hover::after {
  width: 100%;
}

/*   navbar css end   */

body {
  background: gainsboro;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin: 0px 12rem;
  margin-top: 6rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 333px;
}

.card-img {
  height: 200px;
  width: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  padding: 30px 20px;
}

.card-body h1 {
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 22px;
}

.card-body hr {
  width: 80%;
  height: 2px;
  background-color: gray;
}

.card-body ul {
  display: flex;
  align-items: center;
}

.card-body ul li {
  list-style: none;
  padding: 10px;
}

.card-body ul li i {
  color: gray;
  font-size: 19px;
  margin-right: 10px;
}

.card-body ul li span {
  color: #f81c1c;
  font-weight: 600;
}

.card-body button {
  background: #f81c1c;
  color: white;
  padding: 5px 40px;
  border: none;
  margin-top: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}


.card-body button:hover {
  border: 1px solid red;
  color: #f81c1c;
  background: white;
}

/* footer start here */
.footer {
  width: 100%;
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
}